body {
    background: linear-gradient(rgb(255, 182, 193), rgb(255, 105, 180));
}

.header_text {
    color: #8b0000;
}

.btn {
    background-color: #ff69b4;
    color: white;
}

.btn:hover {
    background-color: #8b0000;
    color: white;
}

.gif_container img {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
