body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(252, 186, 186), rgb(230, 119, 149));
  font-family: "Nunito", sans-serif;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px;
  width: 90%;
}

.header {
  background: #ff4d6b;
  padding: 20px;
}

.header_text {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.gif_container {
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 200px;
}

.yes {
  background-color: #4caf50;
  color: white;
}

.no {
  background-color: #e74c3c;
  color: white;
}

.date {
  background-color: #ff4d6b;
  color: white;
}

.btn:hover {
  background-color: #ffffff;
  color: #ff4d6b;
}

.gif_container img {
  max-width: 100%;
  height: auto;
}
